.header{
          display: flex;
          flex: 1;
          width: 100%;
          justify-content: space-around;
          align-items: center;
}

.header__logo{
          object-fit: contain;
          height: 100px;
}

.header__middlePart{
          display: flex;
}

.header__rightPart{
          display: flex;
          justify-content: space-between;
          align-items: center;
}

.header__middlePart{
          align-items: center;
          border: 1px solid rgb(182, 178, 178);
          border-radius: 999px;
          padding: 10px 30px;
}


.header__input input{
        border:none;     
        width: 250px;  
        height: 30px;
        outline: none;
}

.header__host{
          font-size: 18px;
          margin-right: 20px;
          cursor: pointer;
}

.header__gloab{
          margin-right: 20px;
          color: rgb(95, 95, 95);
          cursor: pointer;
}

.header__arrow{
          margin-right: 20px;
          color: rgb(95, 95, 95);
          cursor: pointer;
}

.header__avatar{
          cursor: pointer;
          color: rgba(245, 7, 47, 0.789);
}

.header__searcg{
          color: rgb(95, 95, 95);
          cursor: pointer;
}

.header__search{
        cursor: pointer;
}